*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
}
.icon-drop{
    width: 15px;
    height: 15px;
}
.logo{
    width: 70px;
    height: 35px;
}
header{
    background-color:#EA9215;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
nav{

    padding: 2em 2rem;
}
ul{
    list-style-type: none;
}
.menu{
    display: flex;
}
.menu a{
    color: black;
    text-decoration: none;
    display: block; /* ใส่ block เพื่อให้กำหนด padding ได้ */
    padding: 10px 1.5rem;
}
ul.menu li:hover{
    background-color: #EA9215;
}
ul.menu li{
    position: relative;
}
ul.menu-level-2{
    background-color: gray;
    position: absolute;
    width: max-content; /* max-content เต็มความกว้างของ content */   
    display: none;
}
ul.menu-level-3{
    position: absolute;
    background-color: gray;
    left: 100%;
    top: 0;
    width: max-content;
    display: none;
}
ul.menu-level-4{
    position: absolute;
    background-color: gray;
    left: 100%;
    top: 0;
    width: max-content;
    display: none;
}
.drop-down{
    display: flex;
    align-items: center;
}
.menu li:hover > .menu-level-2{
    display: block;
}
.menu li:hover > .menu-level-3{
    display: block;
}
.menu li:hover > .menu-level-4{
    display: block;
}
.level-3::after{
    content: "aa";
    font-size: 10px;
    position: relative;
    left: 20%;
}
.level-4::after{
    content: "aa";
    font-size: 10px;
    position: relative;
    left: 20%;
}


.header-icon a{
    text-decoration: none;
}
.icon{
    width: 25px;
    height: 25px;
}
.header-icon {
    width: 10%;
    display: flex;
    justify-content: space-between;
}